{#
    We recommend to keep using the same names for the basic fields.
    However, you can add as much fields as you want.
#}
<form class="grohman_feedback-forms" class="form-inline" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="feedback-name">Name</label>
        <input type="text" class="form-control" name="feedback[name]" id="feedback-name" placeholder="Name">
    </div>

    <div class="form-group">
        <label for="feedback-email">Email</label>
        <input type="email" class="form-control" name="feedback[email]" id="feedback-email" placeholder="Email" />
    </div>

    <div class="form-group">
        <label for="feedback-phone">Phone</label>
        <input type="text" class="form-control" name="feedback[phone]" id="feedback-phone" placeholder="Phone" />
    </div>

    <div class="form-group">
        <label for="feedback-file">File</label>
        <input type="file" class="form-control" name="feedback[file]" id="feedback-file" placeholder="File" />
    </div>

    <hr>
    <div class="form-group">
        <label for="feedback-files">Files</label>
        <input type="file" class="form-control" name="feedback[files][]" id="feedback-files" placeholder="File" />
    </div>

    <div class="form-group">
        <label for="feedback-files">Files</label>
        <input type="file" class="form-control" name="feedback[files][]" id="feedback-files" placeholder="File" />
    </div>
    <hr>

    <div class="form-group">
        <label for="feedback-message">Message</label>
        <textarea name="feedback[message]" class="form-control" id="feedback-message"></textarea>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>

</form>
